#bcad-info-modalId {
    visibility: hidden;
}
hr {
  width: 80%;
}
.bmodal-over {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
    justify-content: center;
    align-items: center;
}

.bmodal-wrap {
  width: 600px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: aliceblue;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  position: relative;
}

.bmodal-head {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  background-color: rgb(209, 209, 211);
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid black;
}

.bmodal-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.bmodal-close {
  cursor: pointer;
  font-size: 2em;
}

.bmodal-body {
  padding: 10px;
  margin: auto;
  text-align: center;
}
.bmodal-footer {
  display: flex;
  padding: 1.5rem;
}

.bmodal-footer>button {
  margin: auto;
}
.modal-active {
  animation-name: modal-show;
  animation-duration: .1s;
  animation-timing-function: ease-in;
}

.modal-hidden {
  animation-name: modal-close;
  animation-duration: .1s;
  animation-timing-function: ease-in;
}

@keyframes modal-show {
  0% {
    filter: blur(50px) opacity(0);
    -webkit-filter: blur(50px) opacity(0);
    transform: translatey(-122px);
    transform: scale(.1);
    visibility: hidden;
  }

  100% {
    visibility: visible;
    transform: scale(1);
    filter: blur(0px) opacity(1);
    -webkit-blur(0px) opacity(1);
  }
}

@keyframes modal-close {
  0% {
    visibility: visible;
    transform: scale(1);
  }

  100% {
    visibility: hidden;
    transform: translatey(-122px);
    transform: scale(.1);
  }
}